$font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-family-serif:       "Merriweather", "Times New Roman", Times, serif !default;


$font-size-base: 16px;
$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";
$grid-gutter-width: 20px;

@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap";

#cv {
  line-height: 1.5;
}

.container {
  padding: 20px;
  background-image: url(/images/crossword.png);
  box-shadow: 1px 1px 12px #555;
}

h1.title {
  color: #333333;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  text-shadow: 0px 1px 3px #666;
}

h2.subtitle {
  color: #444444;
  font-weight: 600;
  font-size: 28px;
  text-shadow: 0px 1px 2px #666;
}

h3.subsubtitle {
  color: #6e6e6e;
  font-weight: 600;
  font-size: 19px;
  margin-top: 11px;
}

p.periode {
  margin-top: 2em;
  color: #999999;
  letter-spacing: 0.3em;
  font-size: 17px;
  font-weight: 600;
  border-bottom: 3px solid #999999;
}

p.entreprise, p.statut {
  color: #999999;
  letter-spacing: 0.1em;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
}

p.client {
  font-family: $font-family-serif;
  font-size: 17px;
  color: #999999;
}

p.description {
  font-family: $font-family-serif;
  font-size: 17px;
  color: #505050;
  text-justify: auto;
  text-align: justify;
}

p.mention {
  font-family: $font-family-serif;
  font-size: 15px;
  font-weight: 600;
  color: #7e7e7e;
}

p.realisation {
  font-family: $font-family-serif;
  font-size: 15px;
  color: #505050;
  margin-left: 20px;
  padding-left: 10px;
  border-left: 5px #7e7e7e solid;
  text-justify: auto;
  text-align: justify;
}

p.ref-categories {
  font-family: $font-family-serif;
  font-size: 11px;
  color: #828282;
  margin-left: 21px;
  padding-left: 10px;
  border-left: 3px #9d9d9d solid;
}

p.ref-categories-realisation {
  font-family: $font-family-serif;
  font-size: 11px;
  color: #828282;
  margin-left: 21px;
  padding-left: 10px;
  border-left: 3px #9d9d9d solid;
  margin-bottom: 1.8em;
}

button.btn.afficher-details {
  font-size: 11px;
  padding: 0px 4px;
  color: #828282;
}

button.btn.afficher-details:hover {
  font-size: 11px;
  padding: 0px 4px;
  color: #505050;
}

button.btn.masquer-details {
  font-size: 11px;
  padding: 0px 4px;
  color: #828282;
  margin-right: 3px;
}

button.btn.masquer-details:hover {
  font-size: 11px;
  padding: 0px 4px;
  color: #505050;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
//    .container {
//        max-width: 730px;
//    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
